#rsvp-container {
    text-align: center;
    color: #7f7f7f;
    width: 80vw;
    margin-left: 10vw;
}

#rsvp-container label, p {
    font-size: 20px;
}

#rsvp-container input {
    font-size: 20px;
    color: #7f7f7f;
    text-align: center;
    padding: 5px;
}

#rsvp-container button {
    padding: 10px 20px;
    background-color: #889bae;
    color: white;font-size: 20px;
    border: none;
    border-radius: 5px;
}

#rsvp-container button:hover {
    padding: 10px 20px;
    background-color: #889bae;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Target the checkbox input element */
input[type="checkbox"] {
    /* Increase the size of the checkbox */
    width: 20px;
    height: 20px;
}
